### In this competition, we have three targets for each sample, thus I think using iterative stratifications (https://github.com/trent-b/iterative-stratification) is helpful according to previous competition:
imet top 1 solution https://www.kaggle.com/c/imet-2019-fgvc6/discussion/94687

In [1]:
import numpy as np
import pandas as pd
!pip install iterative-stratification

Requirement already satisfied: iterative-stratification in /home/lam/anaconda3/envs/hugo/lib/python3.7/site-packages (0.1.6)
Requirement already satisfied: numpy in /home/lam/anaconda3/envs/hugo/lib/python3.7/site-packages (from iterative-stratification) (1.18.1)
Requirement already satisfied: scikit-learn in /home/lam/anaconda3/envs/hugo/lib/python3.7/site-packages (from iterative-stratification) (0.22.1)
Requirement already satisfied: scipy in /home/lam/anaconda3/envs/hugo/lib/python3.7/site-packages (from iterative-stratification) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /home/lam/anaconda3/envs/hugo/lib/python3.7/site-packages (from scikit-learn->iterative-stratification) (0.14.1)

In [2]:
#get data
nfold = 5
seed = 12

train_df = pd.read_csv('../data/train.csv')
train_df['id'] = train_df['image_id'].apply(lambda x: int(x.split('_')[1]))

X, y = train_df[['id', 'grapheme_root', 'vowel_diacritic', 'consonant_diacritic']]\
.values[:,0], train_df.values[:,1:]

train_df['fold'] = np.nan

#split data
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold
mskf = MultilabelStratifiedKFold(n_splits=nfold, random_state=seed)
for i, (_, test_index) in enumerate(mskf.split(X, y)):
    train_df.iloc[test_index, -1] = i

/home/lam/anaconda3/envs/hugo/lib/python3.7/site-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [3]:
train_df['fold'] = train_df['fold'].astype('int')

In [4]:
#output
train_df.to_csv('train_with_fold.csv', index = False)

In [6]:
ls = ['Train_133893' ,'Train_169275', 'Train_25250']

In [7]:
train_df[train_df['image_id'].isin(ls)]

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,id,fold
25250,Train_25250,13,8,0,কৈ,25250,2
133893,Train_133893,1,0,0,ঃ,133893,1
169275,Train_169275,0,0,0,ং,169275,0

In [5]:
train_df.head()

,image_id,grapheme_root,vowel_diacritic,consonant_diacritic,grapheme,id,fold
0,Train_0,15,9,5,ক্ট্রো,0,3
1,Train_1,159,0,0,হ,1,2
2,Train_2,22,3,5,খ্রী,2,4
3,Train_3,53,2,2,র্টি,3,2
4,Train_4,71,9,5,থ্রো,4,1

In [6]:
train_df.fold.unique()

array([3, 2, 4, 1, 0])